* {
  list-style-type: none;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background: whitesmoke;
}

.App {
  text-align: center; 
}

.App-logo {
  color: #FF5A00;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #FF651B;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.vehicalbox {
  background: white;
  border-radius: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin:10px;
}

.tabs {
  margin: 0px;
}

.paginate {
  border-radius: 10px;
  background: white;
  width: 10%;
  margin: auto;
  
}

.paginateNums {
  list-style-type: none;
  color: grey;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

.paginateNumsSelected {
  list-style-type: none;
  color: #FF651B;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

.favoriteButton {
  width: 85px;
  border-radius: 5px;
  border: solid 1px #FF651B;
  background: #FF651B;
  color: white;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

#parentbox {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  width: 100%;
  align-content: center;
}

#center {
  background: pink;
  align-content: center;
}

#checkbox {
  padding: 10px;
  vertical-align: top;
  size: 20px;
}

#showroomHeader {
  font-size: 24px;
  font-weight: bold;
}

#showroomText {
  align-content: center;
  text-align: center;
}

#vlist {
  list-style-type: none;
  height: 750px;
  width: auto;
  margin: auto;
  overflow: scroll;
}

#carlist {
  width: 50%;
  min-width: 50%;
}

#showroom {
  width: 50%;
  vertical-align: top;
}

#showroomsub {
  
  border-radius: 10px;
  background: white;
  margin: 10px;
}

#price {
  font-weight: bold;
}

#box {
  vertical-align: top;
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  align-content: center;
  list-style-type: none;
  display: inline-block;
}

#description {
  vertical-align: top;
  margin-top: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  align-content: center;
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

#info {
  vertical-align: top;
}

#carpic {
  vertical-align: top;
  max-width: 160px;
  height: auto;
}

/* arrows */

i {
  border: solid gray;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  margin-top: 200px;
  cursor: pointer;
}

i:hover {
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  margin-top: 200px;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}